body {
    margin: 0px;
    background-color: #0c0c1d;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #0c0c1d;
    padding: 20px 50px;
    
    align-items: center;

}

.nav-bar a {
    color: aliceblue;
    text-decoration: none;
    margin: 0px 15px;

}
.logo {
    font-size: 24px;
    color: #00d9a3cb;
    
}
.logo small {
    font-size: 15px;
    display: block;
    font-style: italic;
}
.search {
    display: flex;
    background-color: transparent;
    overflow: hidden;
    border: 2px solid #00d9a3cb;
    align-items: center;
    border-radius: 30px;
    padding-right: 10px;
    cursor: pointer;

}
.search input {
   border: none;
   outline: none;
   background: transparent;
  
    color: white;
    padding: 8px 10px;
}

.nav-bar a:hover {
    cursor: pointer;
    text-decoration: underline;
}
.main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px 60px ;
    background: linear-gradient( #0c0c1d 60%, #1f1f3c 100%);
    gap: 20px;
}
@media(max-width: 768px) {
    .main {
        flex-direction: column;
        text-align: center;
    }
    .picture-container {
        max-width: 100%;
        margin-top: 20px;
    }
}
.main-content {
    max-width: 50%;
  
}
.main-content h1 {
    font-size: 40px;
} 
.main-content p {
    margin-bottom: 30px;
font-size: 15px;
color: rgb(187, 171, 171);
}
.btn {
    height: 25px;
    width: 130px;
    padding: 0px 0px 0px 0px;
    border: none;
    border-radius: 20px;
    color: #0c0c1d;
    background:#00d9a3cb ;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 30px;
}
#social-btn a {
    margin-right: 5px;
    background: white;
    border-radius: 50%;
    color:#0c0c1d ;
}
.picture-container {
    flex: 1;
   max-width: 400px;
}

.picture-container img {
width: 100%;
height: auto;
object-fit: contain;
display: block;
 
}

