*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background: rgb(12, 43, 26);
    color: white;
    overflow-x: hidden;
}
.hero{
    min-height: 100vh;
    padding: 8rem 5% 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}
.hero-content{
    max-width: 600px;
}
.hero h1{
    font-size: xx-large;
    line-height: 1.2;
    margin-bottom: 1.5rem;
}
.hero p{
    font-size: large;
    margin-bottom: 1.2rem;
    color: white;
}
.hero-image{
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    height: 450px;
    width: 550px;
}
.hero-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s;
}
.hero-image:hover img{
    transform: scale(1.05);
}
.bio{
    color: white;
}
.cta-btn{
    background: black;
    color: white;
    padding: 0.8rem 2rem;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}
.cta-btn:hover{
    transform: translateY(-2px);
    box-shadow: 0 0 20px white, 0 0 40px red;
}
.skills, 
.li{
    display: flex;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}
.social-links {
    margin-right: 10px;
    text-decoration: none;
    color: black;
}
.social-links a:hover{
    color: rgb(52, 82, 218);
}
