*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
    background-color: darkgray;
}
a{
    text-decoration: none;
    margin-right: 15px;
    color: blue;
    font-weight: bold;
}
.main{
    
    max-width: 900px;
    margin: 100px auto;
    padding: 20px;
}

.profile{
    display: flex;
    gap: 30px;
}
.profile-pic{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}
.bio h1{
margin: 0;
font-size: 28px;
}
.bio h2{
    font-weight: normal;
    margin: 5px 0 15px;
}
.bio p{
    max-width: 600px;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 10px;
}
 ul{
    margin-bottom: 15px;
 }
li{
    list-style: none;
}
ul span{
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    line-height: 1.7;
    
}
a:hover{
    text-decoration: underline;
}


